
<p>
  <label>
    {{ title }}
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="1">1</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="2">2</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="3">3</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="4">4</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="5">5</label>
  </label>
</p>