
<!-- Question Component -->
<p>
  <label>
    {{ title }}
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="a">a</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="b">b</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="c">c</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="d">d</label>
    <label><input type="radio" [(ngModel)]="answer" (ngModelChange)="choose($event)" name="{{ name }}" value="e">e</label>
  </label>
</p>